celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Redis template
# Ignore redis binary dump (dump.rdb) files

*.rdb